:root {
  --cor-primaria: #556df7;
  --cor-primaria-escura: #3342ea;
  --cor-secundaria: #ca3904;
  --texto-escuro: #181e27;
  --texto-claro: #5d636e;
  --cor-clara: #f3f3f3;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  background-color: var(--cor-clara);
  height: 100vh;
}

header {
  background-color: white;
  padding: 1% 4% 1% 4%;
}

.container-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo a {
  color: var(--cor-primaria);
  font-size: clamp(0.1em, 0.8em + 1vw, 3.5em);
  font-weight: bold;
  text-decoration: none;
}

nav {
  width: 70%;
}

.menu {
  display: flex;
  gap: 5%;
  justify-content: flex-end;
}

nav ul li a {
  color: var(--texto-escuro);
  font-weight: bold;
  font-size: clamp(0.1em, 0.8em + 0.8vw, 1.5em);
}

.logo a:hover {
  color: var(--cor-primaria-escura);
}

nav ul li a:hover {
  border-top: var(--cor-secundaria) 2px solid;
  border-bottom: var(--cor-secundaria) 2px solid;
  color: var(--cor-secundaria);
  transition: 0.3s;
}

.container-grid {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 92vh;
  place-items: center;
}

.conteudo-div {
  padding: 0% 0% 0% 8%;
}

.subtitulo {
  letter-spacing: 2px;
  font-size: clamp(0.9em, 0.4em + 1vw, 1.5em);
  color: var(--texto-claro);
  margin-bottom: 1%;
}

.titulo {
  font-size: clamp(1em, 1em + 1vw, 2.5em);
  font-weight: 400;
  line-height: 105%;
  color: var(--texto-escuro);
  margin-bottom: 1%;
}

.descricao {
  line-height: 99%;
  font-size: clamp(0.9em, 0.4em + 1vw, 1.5em);
  color: var(--texto-claro);
  margin-bottom: 4%;
  margin-right: 10%;
}

.btn-contratar,
.btn-projetos {
  font-weight: bold;
  letter-spacing: 1.2px;
  padding: 0.8rem 0.8rem;
  border: 2px solid var(--cor-primaria-escura);
  border-radius: 10px;
  cursor: pointer;
  background-color: var(--cor-clara);
  color: var(--texto-escuro);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  margin-right: 3%;
}

button:hover {
  background-color: var(--cor-primaria);
  color: var(--cor-clara);
}

#foto-perfil {
  display: flex;
  justify-content: center;
}

#foto-perfil img {
  width: min(25rem, 90%);
  border-radius: 100%;
  border: #040404 1px solid;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}



/* Extra small devices (phones, 650px and down) */
@media only screen and (max-width: 650px) {
  .container-flex {
    display: block
  }

  .logo, nav, .menu {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 10px 0px 10px 0px;
  }

  .logo a {
    font-size: clamp(0.1em, 0.8em + 1vw, 3.5em);
  }
  
  nav ul li a {
    font-size: clamp(0.1em, 0.8em + 0.8vw, 0.9em);
  }

  .container-grid {
    display: block;
  }
  
  .conteudo-div {
    margin: 15% 0% 15% 0%;
  }
  
  #foto-perfil img {
    width: min(20rem, 80%);
  }

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}
